/*nav{*/
/*    border-bottom: 1px solid #dba904;*/
/*}*/

.nav-bg{
background:hsl(217.2, 93.5%, 6.1%);
}

.navbar-brand{
    color: rgba(255, 255, 255, 0.9);
}

.navbar-brand:hover{
    color: hsl(35,100%,50%);
}

.navbar-expand-md .navbar-nav .nav-link{
    color: rgba(255, 255, 255, 0.9);
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.navbar-expand-md .navbar-nav .nav-link:hover{
    color: hsl(35,100%,50%);
}

@media only screen and (max-width: 767px){
    .navbar{
        max-height: 4.55rem;
        z-index: 99;
        padding-right: 0px;
        padding-left: 0px;
    }

    .nav-list{
        background-color: #111;
        margin-left: 0;
    }

    .navbar-nav .nav-item{
        margin: 0 1rem 0 1rem;
        padding: .4rem 0 .4rem 0;
        border-bottom: 1px solid #333;
    }
    .img-fluid{
        margin: 0 .3rem;
    }
    /*source from internet*/
    .animated-icon3 {
        width: 30px;
        height: 20px;
        position: relative;
        margin: auto .3rem .5rem;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }

    .animated-icon3 span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        background: #dba904;
    }

    .animated-icon3 span:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .animated-icon3 span:nth-child(2) {
        top: 10px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .animated-icon3 span:nth-child(3) {
        top: 20px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .animated-icon3.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0px;
        left: 8px;
    }

    .animated-icon3.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    .animated-icon3.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 21px;
        left: 8px;
    }
}
