/* for desktop */

/* for desktop */

/* for sp */
@media only screen and (max-width: 575px)
{
    /* for main title*/
    h1
    {
        font-size: 6vw;
    }
    .main-title-hr
    {
        width: 100%;
        color: #dba904;
    }
    /* for main title*/

    /* foundation */
    /* for subtitle foundation */
    .subtitle-foundation-h2
    {
        font-size: 4vw;
    }
    /* for subtitle foundation */

    /* for content foundation */
    .content-foundation-ul
    {
        font-size: 3vw;
    }
    /* for content foundation */
    /* for foundation */

    /* people-in-need */
    /* for subtitle people-in-need */
    .subtitle-people-in-need-h2
    {
        font-size: 4vw;
    }
    /* for subtitle people-in-need */
    /* for content people-in-need */
    .content-people-in-need-ul
    {
        font-size: 3vw;
    }
    /* for content people-in-need */
    /* people-in-need */

    /* donor(visitor) */
    /* for subtitle donor */
    .subtitle-donor-h2
    {
        font-size: 4vw;
    }
    /* for subtitle donor */

    /* for content donor */
    .content-donor-ul
    {
        font-size: 3vw;
    }
    /* donor(visitor) */
}
/* for sp */

/* for tablet */

/* for tablet */

/* for common */
/* for body element */
body
{
    width: 100%;
    height: 100%;
}

.content-foundation-ul, .content-people-in-need-ul,.content-donor-ul{
    list-style: none;
}


.content-foundation-ul li::before, .content-people-in-need-ul li::before,.content-donor-ul li::before {
    content: "\2022";
    color: hsl(35,100%,50%);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
/* for body element */




/* for main title*/
h1
{
    text-align: center;
}
.main-title-hr
{
    color: #dba904;
    width: 100%;
    height: 50%;
}
/* for main title*/




/* foundation */
/* for subtitle foundation */
.subtitle-foundation-h2
{	width: 100%;
    text-decoration: underline;
    float: left;
}
/* for subtitle foundation */

/* for content foundation */
.content-foundation-ul
{
    width: 100%;
    float: left;
}
/* for content foundation */
/* foundation */



/* people-in-need */
/* for subtitle people-in-need */
.subtitle-people-in-need-h2
{
    width: 100%;
    text-decoration: underline;
    float: left;
}
/* for subtitle people-in-need */

/* for content people-in-need */
.content-people-in-need-ul
{
    width: 100%;
    float: left;
}
/* for content people-in-need */
/* people-in-need */




/* donor(visitor) */
/* for subtitle donor */
.subtitle-donor-h2
{
    width: 100%;
    text-decoration: underline;
    float: left;
}
/* for subtitle donor */
/* for content donor */
.content-donor-ul
{
    width: 100%;
    float: left;
}
/* for content donor */
/* donor(visitor) */



/* for common
