body {
    /*background-color:#e6e5ff;*/
}

.right_kanote{
    width: 50px;
    height: auto;
}
.left_kanote{
    width: 50px;
    height: auto;
}

.text_point{
    display: flex;
    align-items: center;
    justify-content: center;
}


#welcomeInHeader
{
    color: white;
    align : center;
}

.card{
    position: relative;
    border: none;
}

.card-header{
    background-color: hsl(35,100%,50%);
}

.image_upload{
    position: relative;
}

.user_profile{
    position: absolute;
    top: -100px;
    left: 30%;
    opacity: 1;
    width: 38%;
    height: 200px;
    transition: .5s ease;
    text-align: center;
    border:15px solid hsl(35,100%,50%) ;
}
.upload_text{
    opacity: 0;
    position: absolute;
    transition: .5s ease;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.upload_text .text{
    font-size: 20px;
    color: #e0a800;
    font-weight: bold;
}

.left-side
{
    background-size: cover;
    background-repeat: no-repeat;
    float: right;
}

.card-header h4{
    color: white;
}

.card-footer{
    background-color: hsl(35,100%,50%);
    color: white;
}

.btnCancel:hover{
    background-color: #ff2626;
    color: white;
}

.btnSave:hover{
    background-color: royalblue;
    color: white;
}

.card-footer #login{
    color: blue;
}

.form-group .form-control{
    border: 1px solid grey;
}

.nopadding{
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 991px) and (min-width: 768px){

}

@media only screen and (max-width: 767px){
    .left-side{
        display: none;
    }

    .user_profile{
        width: 39%;
        top: -71px;
        height: 8rem;
    }
}


